@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 250, 254, 255;
  --background-start-rgb: 255, 241, 216;
  --background-end-rgb: 255, 241, 216;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-button-style {
  background-color: #01204E;
  color: white;
  border-color: #01204E;
  border-radius: 8px;
  padding: 10px 20px;
}

.custom-button-style:hover {
  background-color: #001832;
  border-color: #001832;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
